<h1>Login</h1>

<form action="/login" method="post" accept-charset="utf-8">
    Username
    <br><input type="text" name="username">
    <br>
    <br>Password
    <br><input type="password" name="password">
    <br>
    <br><input type="submit" value="Login">
</form>
