<h1>Register</h1>

<form action="/register" method="post" accept-charset="utf-8">
    Email
    <br><input type="email" name="email">
    <br>Username
    <br><input type="text" name="username">
    <br>
    <br>Password
    <br><input type="password" name="password">
    <br>
    <br><input type="submit" value="Register">
</form>
